<script>
  (function($) {
    if ($(".page").length == 0) return;

    var copyToClipboard = function(text) {
      var textarea = document.createElement("textarea");
      textarea.textContent = text;
      textarea.style.position = "fixed";
      document.body.appendChild(textarea);
      textarea.select();
      try {
        return document.execCommand("cut");
      } catch (ex) {
        console.warn("Copy to clipboard failed.", ex);
        return false;
      } finally {
          document.body.removeChild(textarea);
      }
    }

    $("body").bind("copy", function (e) {
      var url = document.location.href;
      var decodedUrl = decodeURI(url);
      var selection = window.getSelection();
      var pagelink = "\n\n출처: "+ decodedUrl + " [" + $("meta[property='og:site_name']").attr("content") + "]";
      
      if (typeof window.getSelection == "undefined") {//IE8 or earlier...
        e.preventDefault();
        if (window.clipboardData) {
          var copytext = selection + pagelink;
          window.clipboardData.setData("Text", selection + pagelink);
        }
        return;
      }

      //if the selection is short let"s not annoy our users
      if (selection.toString().length < 30) return;

      var copytext = selection.toString() + pagelink;
      copyToClipboard(copytext);
    });
  })(jQuery);
</script>