{% if include.id %}
  {% assign feature_row = page[include.id] %}
{% else %}
  {% assign feature_row = page.feature_row %}
{% endif %}

{% if page.custom_stylesheet %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ page.custom_stylesheet }}.css">
{% endif %}

<div class="feature__wrapper">
  {% for feature in feature_row %}

    {% if feature.url contains "://" %}
      {% capture feature_url %}{{ feature.url }}{% endcapture %}
    {% else %}
      {% capture feature_url %}{{ feature.url | relative_url }}{% endcapture %}
    {% endif %}

    <div class="feature__item{% if include.type %}--{{ include.type }}{% endif %}">
      <div class="archive__item">
        {% if feature.overlay_color or feature.overlay_image %}
          {% if feature.overlay_image contains "://" %}
            {% capture img_path %}{{ feature.overlay_image }}{% endcapture %}
          {% elsif feature.overlay_image %}
            {% capture img_path %}{{ feature.overlay_image | relative_url }}{% endcapture %}
          {% endif %}

          {% if feature.overlay_filter contains "rgba" %}
            {% capture overlay_filter %}{{ feature.overlay_filter }}{% endcapture %}
          {% elsif feature.overlay_filter %}
            {% capture overlay_filter %}rgba(0, 0, 0, {{ feature.overlay_filter }}){% endcapture %}
          {% endif %}

          <div class="archive__item-teaser{% if feature.overlay_color or feature.overlay_image %}--overlay{% endif %}"
            style="{% if feature.overlay_color %}background-color: {{ feature.overlay_color | default: 'transparent' }};{% endif %} {% if img_path %}background-image: {% if overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}), {% endif %}url('{{ img_path }}');{% endif %}">
            <h1 class="archive__item-title" itemprop="headline">{{ feature.title }}</h1>
          </div>

        {% else %}
          {% if feature.bg_image contains "://" %}
            {% capture img_path %}{{ feature.bg_image }}{% endcapture %}
          {% else %}
            {% capture img_path %}{{ feature.bg_image | relative_url }}{% endcapture %}
          {% endif %}

          <div class="archive__item-teaser"
          style="{% if feature.bg_color %}background-color: {{ feature.bg_color | default: 'transparent' }};{% endif %}">
            {% if feature.bg_image %}
            <img src= "{{ img_path }}" alt="{% if feature.alt %}{{ feature.alt }}{% endif %}">
            {% endif %}
            {% if feature.caption %}
            <span class="archive__item-caption">{{ feature.caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
            {% endif %}
          </div>
        {% endif %}

        <div class="archive__item-body">
          {% unless feature.overlay_color or feature.overlay_image %}
            {% if feature.title %}
              <h3 class="archive__item-title">{{ feature.title }}</h3>
            {% endif %}
          {% endunless %}

          {% if feature.excerpt %}
            <div class="archive__item-excerpt">
              {{ feature.excerpt | markdownify }}
            </div>
          {% endif %}
        </div>

        <div class="archive__item-footer">
          <div class="text-right">
            {% if feature.url %}
              <p><a href="{{ feature_url }}" class="btn {{ feature.btn_class }}">{{ feature.btn_label | default: site.data.ui-text[site.locale].more_label | default: "Learn More" }}</a></p>
            {% endif %}
          </div>
        </div>

      </div>
    </div>
  {% endfor %}

</div>